

  <form action="/companies/<%= @company.uuid %>" method="post" id="companyDetails" class="clearfix">
   <fieldset> <input type="hidden" name="_method" value="put" /> </fieldset>


<%= erb(:form, :layout => false) %>
	</fieldset>
  </form>
<div id = "newBottom"><div></div></div>
