<div id="contain">

  <form action="/companies/<%= @company.uuid %>" method="POST" id="companyDetails" class="clearfix">
    <input type="hidden" name="_method" value="put" />


<%= erb(:form, :layout => false) %>
  </form>
</div>

