<div id = 'contain' class = 'clearfix'>
	<div id = 'logo'>
		
	</div>
	<div id = 'headerContent'>
		<p>Knowing what other <span class = 'important'>companies</span> are in your ecosystem is important. This is no different in <span class = 'important'>Open Source</span>. You can make contacts, learn about new services and group together to reduce training costs or collaborate with each other.This is why it's key that we create a <span class = 'important'>community</span> of Open Source companies to help drive <span class = 'important'>innovation</span> and develop new exciting opportunities together.  </p>
	
	</div>	
	<div id = "contentMain" class ='floatLeft margin20L padding5'>		
		<input type = 'text' value = 'search me!'>  </>
		<%
		  output = '<ul>'
		  @companies.each {|c| output << "<li>#{c.name}</li>" }
		  output << '</ul>'
		%>
		<%= output %>
	</div>
		
	<div id = "contentSecondary" class ='floatLeft clearfix margin20L'>
		<div class = 'margin20B'>
			<a id = 'register' href='/companies/new'> <%= 'Create a new company' %> </a>
			
		</div>
		<div id = 'information' class ='padding5'>
			<h3>How to use this site</h3>
			<p>Some great companies using Open Source Technology are listed on the left. Select a company to bring up a short description here.</p>
			<p>You can join too! If your company uses, develops or deals in Open Source software become part of the community today!</p>
		</div> 	
	</div>

</div>
