<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title> We Use Opensource</title>
   <meta http-equiv="content-type"  content="text/html;charset=utf-8"/>
   <meta http-equiv="Content-Style-Type" content="text/css" />
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery.textCounting.min.js"></script>
</head>


<body>
<% unless flash[:notice].blank? %>
  <div class="notice">
    <%= format_errors flash[:notice] %>
  </div>
<% end %>

<div id = 'contain' class = 'clearfix'>
	<div id = 'logo'>
		
	</div>
<%= yield %>

</div>
<%= erb(:footer, :layout => false) %>
</body>
</html>

