<!--<div id="contain"> -->

  <form action="/companies" method="POST" id="companyDetails" class="clearfix">
	  <%= erb(:form, :layout => false) %>
	</fieldset>
  </form>
<div id = "newBottom"><div></div></div>

</div>


