/*body { text-align: center; }*/

* html body legend { margin: 0px -8px 16px 0; padding: 0; }
html>body p code { *white-space: normal; }

.container { text-align: left; }

ol { margin-left: 2em; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

hr { margin: -8px auto 11px; }

fieldset { padding-top: 0; }


#part2, #option2{
position:relative;
right:15px;
}

#option2{
margin-bottom:20px;
}

#company_website, #part2 select{
position:relative;
top:5px;
}

#url{
padding:1px;
}

#hide{
height:.1px;
}

#at{
position:relative;
top:2px;
}
