Your account has successfully been activated. Please use this <a href="<%= @admin_link %>">admin link</a> to make changes to your account from now on. A copy of this link has been emailed to you to let you manage your account or check out the <a href='/'>weuseopensource.com</a> homepage.
