


<div id = 'headerContent'>
	<div id="headerTop"> <div></div></div> <!-- hold bg images for top curvi corners-->
	<p class="padding10">Your account has successfully been activated. Please use this <a href="<%= @admin_link %>">admin link</a> to make changes to your account from now on. A copy of this link has been emailed to you to let you manage your account or check out the <a href='/'>weuseopensource.com</a> homepage.</p>


	<div id="headerBottom"> <div></div> </div><!--hold bg images for curvi corners-->
		
</div>	
